In [1]:
import pandas as pd
import numpy as np

In [2]:
credit = pd.read_csv('data/credit.csv')
credit

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,Y
0,b,30.83,0.000,u,g,w,v,1.25,False,False,1,False,g,202,0,True
1,a,58.67,4.460,u,g,q,h,3.04,False,False,6,False,g,43,560,True
2,a,24.50,0.500,u,g,q,h,1.50,False,False,0,False,g,280,824,True
3,b,27.83,1.540,u,g,w,v,3.75,False,False,5,False,g,100,3,True
4,b,20.17,5.625,u,g,w,v,1.71,False,False,0,False,s,120,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,21.08,10.085,y,p,e,h,1.25,False,False,0,False,g,260,0,False
649,a,22.67,0.750,u,g,c,v,2.00,False,False,2,False,g,200,394,False
650,a,25.25,13.500,y,p,ff,ff,2.00,False,False,1,False,g,200,1,False
651,b,17.92,0.205,u,g,aa,v,0.04,False,False,0,False,g,280,750,False
652,b,35.00,3.375,u,g,c,h,8.29,False,False,0,False,g,0,0,False

In [6]:
credit2 = pd.read_csv('data/credit.csv')
credit2['X3'][1] = -1
credit2

/anaconda3/envs/decisionRule/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,Y
0,b,30.83,0.000,u,g,w,v,1.25,False,False,1,False,g,202,0,True
1,a,58.67,-1.000,u,g,q,h,3.04,False,False,6,False,g,43,560,True
2,a,24.50,0.500,u,g,q,h,1.50,False,False,0,False,g,280,824,True
3,b,27.83,1.540,u,g,w,v,3.75,False,False,5,False,g,100,3,True
4,b,20.17,5.625,u,g,w,v,1.71,False,False,0,False,s,120,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,21.08,10.085,y,p,e,h,1.25,False,False,0,False,g,260,0,False
649,a,22.67,0.750,u,g,c,v,2.00,False,False,2,False,g,200,394,False
650,a,25.25,13.500,y,p,ff,ff,2.00,False,False,1,False,g,200,1,False
651,b,17.92,0.205,u,g,aa,v,0.04,False,False,0,False,g,280,750,False
652,b,35.00,3.375,u,g,c,h,8.29,False,False,0,False,g,0,0,False

In [9]:
credit.join(credit2, rsuffix ='_2')

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X7_2,X8_2,X9_2,X10_2,X11_2,X12_2,X13_2,X14_2,X15_2,Y_2
0,b,30.83,0.000,u,g,w,v,1.25,False,False,...,v,1.25,False,False,1,False,g,202,0,True
1,a,58.67,4.460,u,g,q,h,3.04,False,False,...,h,3.04,False,False,6,False,g,43,560,True
2,a,24.50,0.500,u,g,q,h,1.50,False,False,...,h,1.50,False,False,0,False,g,280,824,True
3,b,27.83,1.540,u,g,w,v,3.75,False,False,...,v,3.75,False,False,5,False,g,100,3,True
4,b,20.17,5.625,u,g,w,v,1.71,False,False,...,v,1.71,False,False,0,False,s,120,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,21.08,10.085,y,p,e,h,1.25,False,False,...,h,1.25,False,False,0,False,g,260,0,False
649,a,22.67,0.750,u,g,c,v,2.00,False,False,...,v,2.00,False,False,2,False,g,200,394,False
650,a,25.25,13.500,y,p,ff,ff,2.00,False,False,...,ff,2.00,False,False,1,False,g,200,1,False
651,b,17.92,0.205,u,g,aa,v,0.04,False,False,...,v,0.04,False,False,0,False,g,280,750,False
652,b,35.00,3.375,u,g,c,h,8.29,False,False,...,h,8.29,False,False,0,False,g,0,0,False